In [ ]:
# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]
last_three = a[-3:]
print(last_three)

[4, 5, 6]

In [ ]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

In [4]:
# create a list of numbers from 1 to 20
list = []
for i in range(20):
	list.append(i+1)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

even_list = []
for i in range(100):
	if ((i+1) % 2 == 0):
		even_list.append(i+1)
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [8]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide_numbers(num1,num2):
	return num1/num2

In [13]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(30):
    num = i + 1
    if (num % 3 == 0 and num % 5 == 0):
        print("fizzbuzz")
    elif (num % 3 == 0):
        print("fizz")
    elif (num % 5 == 0):
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [14]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menuPrices = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [16]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
sb = pd.read_csv("../data/starbucks.csv")

ModuleNotFoundError: No module named 'pandas'

In [15]:
# select all rows with more than and including 400 calories
sb[sb["calories"] >= 400 ]

NameError: name 'sb' is not defined

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
sb[sb["vitamin c"] > sb["iron"]]

In [ ]:
# create a new column containing the caffeine per calories of each drink
sb["caffeine_per_calorie"] = sb["caffeine"] / sb["calories"]

In [ ]:
# what is the average calorie across all items?
sb["calories"].mean()

In [ ]:
# how many different categories of beverages are there?
print(sb["beverage_category"].nunique())

In [ ]:
# what is the average # calories for each beverage category?
sb.groupby(["beverage_category"])["calories"].mean()